body {
  display: flex;
  font: 16px/1.5 Helvetica Neue, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
}

a {
  color: #c00;
}

.search {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100vh;
  background-color: black;
  color: #fff;
  padding: 10px 25px;
}

.parameter {
  margin-bottom: 15px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  background-color: #b3b3b3;
}
